@media screen and (minwidth:1600px) {
    .test{
        max-width: 1600px !important;
    }
}
body{
    font-family: cursive;
}
.mainpage{
    background-image: url(../img/wallpaper2you_399427.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#mainpage2{
    width: 100%;
    height: 100vh;
    background-color: rgba(97, 94, 94, 0.537);
    opacity: 0;
    
}
.box , .box2{
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
.box{
    z-index: 10;
}
.box2{
    z-index:-10;
    opacity: 0;
}
.btn{
    background-color: #ffc107;
    font-size: 25px;
}
.btn:hover{
    background-color: white;
    color: #ffc107;
    border: 2px solid #ffc107;
}
.btn2:hover{
    transition: .4s;
    transform: scale(1.4);
}